:root{
  --pale-violet: hsl(276, 100%, 81%);
  --moderate-violet: hsl(276, 55%, 52%);
  --desaturated-dark-violet: hsl(271, 15%, 43%);
  --grayish-blue: hsl(206, 6%, 79%);
  --very-dark-desaturated-violet: hsl(271, 36%, 24%);
  --dark-grayish-violet: hsl(270, 7%, 64%);
  /* *****Gradients***** */
  /* primary G */
  --light-magenta: hsl(293, 100%, 63%);
  --light-violet: hsl(264, 100%, 61%);
  --gradient-primary: linear-gradient(12deg, #8838ff 9%, #e942ff 90%);
/* Secondary G */
--white: hsl(0, 0%, 100%);
--light-grayish-violet: hsl(270, 20%, 96%);
--very-dark-desaturated-violet: hsl(271, 36%, 24%);
--very-light-magenta: hsl(289, 100%, 72%);
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Rubik', sans-serif;
  font-size: 16px;

}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.shape{
  width: 300px;
  height: 85%;
  position: absolute;
  z-index: -1;
}

.shape-left{
  border-radius: 0 0 300px 300px;
  background: -webkit-gradient(linear, left top, left bottom, from(#d942ff), to(#8838ff));
  background: var(--gradient-primary);
  left: -60px;
}

.shape-right{
  border-radius: 300px 300px 0 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#d942ff), to(#8838ff));
  background: #F7F5FA;
  right: -60px;
  bottom: 0;
}